/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* End of Reset */

html {
  --bg: #f9fafb;
  --fg: #0b0b0b;
  --header-fg: #ffffff;
  --form-bg: #ffffff;
  --button-bg: #596d48;
  --input-border: #e5e7eb;
  --error: #a82222;
}
