*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

@font-face {
  font-family: 'Norse';
  src: url('fonts/norse-bold.otf') format('opentype');
  unicode-range: U+0044, U+0049, U+004E, U+004F;
}

html {
  --black: #0b0b0b;
  --white: #ffffff;
  --white-darker-1: #f9fafb;
  --white-darker-2: #e5e7eb;
  --light-gray: #ccc;
  --gray: #79828c;
  --black-transparent: #0b0b0b80;
  --green: #596d48;
  --red: #a82222;

  --bg: var(--white-darker-1);
  --fg: var(--black);
  --shadow: var(--light-gray);
  --header-bg: var(--black-transparent);
  --header-fg: var(--white);
  --main-bg: var(--white-darker-1);
  --form-bg: var(--white);
  --link: var(--green);
  --button-bg: var(--green);
  --button-fg: var(--white-darker-1);
  --label-fg: var(--gray);
  --input-border: var(--white-darker-2);
  --error: var(--red);
}

body {
  background-color: var(--bg);
  color: var(--fg);

  min-height: 100vh;
  display: flex;
  align-items: stretch;
}

header {
  color: var(--header-fg);
  display: flex;
  flex-direction: column;
  min-width: 37vw;

  background-image: url('images/fern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-and-title {
  background-color: var(--header-bg);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 180px;
  margin-bottom: auto;
  padding: 1rem;
}

.photo-credit {
  font-size: 0.75rem;
  opacity: 65%;
  padding: 1rem;
  text-align: center;
}

.title {
  font-family: 'Norse', sans-serif;
  font-size: 5rem;
}

header a {
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main a {
  color: var(--link);
  font-weight: bold;
  text-decoration: none;
}

section {
  margin-block: 1rem;
  padding-inline: 2rem;
}

section.description,
section.actions {
  background-color: var(--main-bg);
}

section.description {
  font-size: 1.0625rem;
  font-weight: bold;
}

section.form {
  background-color: var(--form-bg);
  box-shadow: 0 2px 4px var(--shadow);
  padding-bottom: 2rem;
}

p {
  margin-block: 1rem;
}

section.form > p {
  font-weight: bold;
}

form {
  column-gap: 4rem;
  row-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
}

label, input {
  display: block;
}

label {
  color: var(--label-fg);
  font-size: 0.75rem;
  font-variant: all-small-caps;
  font-weight: bold;
  letter-spacing: 0.125ch;
}

input {
  border: 1px solid var(--input-border);
  border-radius: 0.25rem;
  width: 12rem;
}

.create-account-button {
  background-color: var(--button-bg);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px var(--shadow);
  color: var(--button-fg);
  font-weight: bold;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}

.returning-user-note {
  font-size: 0.875rem;
}
